<app-frame>
  <div body class="container">

    <div class="panel panel-default" *ngIf="notificationService.notifications.length>0">
      <div class="panel-heading">
        <h3 class="panel-title" i18n>Server notifications</h3>
      </div>
      <div class="panel-body">
        <ng-container *ngFor="let notification of notificationService.notifications">

          <div class="alert alert-{{getCss(notification.type)}}" role="alert">
            {{notification.message}}
            <br *ngIf="notification.details"/>
            {{notification.details | json}}
          </div>
        </ng-container>
      </div>

      <div class="panel-footer" i18n>
        To dismiss these notifications, restart the server.
      </div>
    </div>
    <div class="form-horizontal">
      <div class="form-group">
        <label class="col-sm-10 col-xs-8 control-label" for="simplifiedMode" i18n>Mode</label>
        <div class="col-sm-2  col-xs-4">
          <bSwitch
            id="simplifiedMode"
            class="switch"
            name="simplifiedMode"
            [switch-off-color]="'warning'"
            [switch-on-color]="'primary'"
            [switch-inverse]="'inverse'"
            [switch-off-text]="'Advanced'"
            [switch-on-text]="'Simplified'"
            [switch-handle-width]="'100'"
            [switch-label-width]="'20'"
            [(ngModel)]="simplifiedMode">
          </bSwitch>
        </div>
      </div>
    </div>
    <settings-basic [simplifiedMode]="simplifiedMode"></settings-basic>
    <settings-usermanager></settings-usermanager>
    <settings-database [simplifiedMode]="simplifiedMode"></settings-database>
    <settings-thumbnail #thumbnail [hidden]="!thumbnail.hasAvailableSettings"
                        [simplifiedMode]="simplifiedMode"></settings-thumbnail>
    <settings-search #search [hidden]="!search.hasAvailableSettings"
                     [simplifiedMode]="simplifiedMode"></settings-search>
    <settings-share #share [hidden]="!share.hasAvailableSettings" [simplifiedMode]="simplifiedMode"></settings-share>
    <settings-map #map [hidden]="!map.hasAvailableSettings" [simplifiedMode]="simplifiedMode"></settings-map>
    <settings-other #other [hidden]="!other.hasAvailableSettings" [simplifiedMode]="simplifiedMode"></settings-other>
    <settings-indexing #other [hidden]="!other.hasAvailableSettings"
                       [simplifiedMode]="simplifiedMode"></settings-indexing>
  </div>
</app-frame>
