.lightbox {
  position: fixed; /* Stay in place */
  z-index: 1100; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden;
  display: flex; /* add */
  justify-content: center; /* add to align horizontal */
  align-items: center; /* add to align vertical */
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}

.controls-background {
  display: inline-block;
  background-color: rgba(var(--bs-body-bg-rgb),0.2);
}

.sebm-google-map-container {
  width: 100%;
  height: 100%;
}

.blackCanvas {
  position: fixed; /* Stay in place */
  z-index: 1099; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: black;
  transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}

#controllers-container {
  z-index: 1100;
  right: 0;
  top: 0;
  position: fixed;
}

#controls {
  top: 0;
  height: initial;
  text-align: right;
  width: 100%;
  font-size: large;
  line-height: 0;
}

#controls ng-icon {
  vertical-align: middle;
}

#controls ng-icon ::ng-deep svg {
  vertical-align: top;
}



#controls .control-button {
  margin-left: 0.1em;
  margin-right: 0.1em;
  display: inline-block;
  padding: 0 0.2rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.highlight {
  opacity: 0.4;
  transition: opacity .2s ease-out;
  -moz-transition: opacity .2s ease-out;
  -webkit-transition: opacity .2s ease-out;
  -o-transition: opacity .2s ease-out;
  -ms-transition: opacity .2s ease-out;
}

.highlight:hover {
  opacity: 1.0;
}

::ng-deep .leaflet-container a.leaflet-popup-close-button span{
  font-size: x-large;
}

::ng-deep .marker-svg-small .marker-svg-wrapper {
  width: 30px;
  height: 30px;
  transform: scale(0.5);
}

::ng-deep .marker-svg-pin {
  width: 30px;
  height: 30px;
  left: 50%;
  top: 50%;
  margin: -15px 0 0 -15px;
  border-radius: 50% 50% 50% 0;
  position: absolute;
  border: 3px solid;
  transform: rotate(-45deg);
  background-color: rgb(248, 249, 250);
}

::ng-deep .marker-svg-shadow {
  content: "";
  background: rgba(128, 128, 128, 0.4);
  width: 20px;
  height: 10px;
  border-radius: 100%;
  position: absolute;
  top: 31px;
  left: 5px
}


::ng-deep .custom-div-icon svg {
  position: absolute;
  width: 16px !important;
  max-height: 20px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
}

::ng-deep .lightbox-map-gallery-component-preview-loading {
  background-color: var(--item-background);
  color: var(--bs-secondary-color-rgb);
}

::ng-deep .lightbox-map-gallery-component-preview-loading svg {
  top: calc(50%);
  left: calc(50%);
  opacity: 0.75; /* making sure that --bs-secondary-color used as color does not make ghosting line effect*/
  transform: translate(-50%, -50%);
  display: block;
  position: relative;
  --ng-icon__size: 250px
}

::ng-deep .marker-cluster-small {
  background-color: rgba(0, 148, 255, 0.6);
  width: 30px;
  height: 30px;
  color: white;
  border-radius: 50% !important;
}

::ng-deep .marker-cluster-small div {
  background-color: #0094ff;
  width: 20px;
  height: 20px;
  border-radius: 50% !important;
}

::ng-deep .marker-cluster-small span {
  line-height: 20px;
}


::ng-deep .marker-cluster-medium {
  background-color: rgba(0, 123, 255, 0.6);
  color: white;
  border-radius: 50% !important;
}

::ng-deep .marker-cluster-medium div {
  background-color: var(--bs-primary);
  border-radius: 50% !important;
}

::ng-deep .marker-cluster-large {
  background-color: rgba(0, 98, 255, 0.6);
  width: 50px;
  height: 50px;
  color: white;
  border-radius: 50% !important;
}

::ng-deep .marker-cluster-large div {
  background-color: #0062ff;
  width: 40px;
  height: 40px;
  border-radius: 50% !important;
}

::ng-deep .marker-cluster-large span {
  font-size: 16px;
  line-height: 39px;
}

::ng-deep img.leaflet-marker-icon.photo-icon {
  border-radius: 50% !important;
  border: 2px rgba(0, 123, 255, 0.6) solid;
}




