.nav-container {
  position: relative;
}

.right-side {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.photos-count {
  display: inline-block;
}

.divider{
  margin: 5px 10px;
  border-left: 1px solid #6c757d;
  display: inline-block;
}

ol {
  padding-right: 150px;
}

.dropdown-menu {
  min-width: 10rem;
}

.row {
  margin: 0;
  display: flex;
  cursor: pointer;
}

nav {
  z-index: 1;
}

.dropdown-toggle::after {
  display: none;
}


.search-type{
  margin-left: 5px;
}
