<ng-template [ngIf]="mapPhotos.length>0">
  <app-gallery-map-lightbox [photos]="photos" [gpxFiles]="gpxFiles"></app-gallery-map-lightbox>
  <div class="clickable" id="map" #map (click)="click()">
  <span *ngIf="!EnableMapPreview" class="oi-map oi"></span>
    <yaga-map
      *ngIf="EnableMapPreview"
      #yagaMap
      [draggingEnabled]="false"
      [keyboardEnabled]="false"
      [tapEnabled]="false"
      [boxZoomEnabled]="false"
      [doubleClickZoomEnabled]="false">
      <yaga-marker
        *ngFor="let photo of mapPhotos"
        [lat]="photo.lat"
        [lng]="photo.lng">
      </yaga-marker>
      <yaga-attribution-control
        prefix=""
        [attributions]="mapService.ShortAttributions">
      </yaga-attribution-control>
      <yaga-tile-layer [url]="mapService.MapLayer"></yaga-tile-layer>
    </yaga-map>

  </div>
</ng-template>
