.leaflet-map {
  z-index: 0;
  width: 100%;
  height: 100%;
}

.clickable {
  cursor: pointer;
}


#map {
  width: 100%;
  height: 100%;
  z-index: 0;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: transparent;
  opacity: 0.8;
  cursor: pointer;
  position: absolute;
  transform: translateY(-100%);
}
