<!DOCTYPE html>
<html lang="en">
<head>
  <base href="<%= clientConfig.urlBase %>/"/>
  <meta charset="UTF-8">
  <title>Loading..</title>
  <link rel="shortcut icon" href="assets/icon.png">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.4/css/bootstrap3/bootstrap-switch.css">

   <script>
    var ServerInject = {user: <%- JSON.stringify(user); %>, ConfigInject: <%- JSON.stringify(clientConfig); %> }
  </script>

</head>

<body style="overflow-y: scroll; padding-right: 0 !important;">
<app-pi-gallery2>Loading...</app-pi-gallery2>

</body>
</html>
