<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/"/>
    <meta charset="UTF-8">
    <title>PiGallery2</title>
    <link rel="shortcut icon" href="icon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
          crossorigin="anonymous">
    <!-- Polyfill(s) for older browsers -->
    <script src="node_modules/core-js/client/shim.min.js"></script>

    <script src="node_modules/zone.js/dist/zone.js"></script>
    <script src="node_modules/reflect-metadata/Reflect.js"></script>
    <script src="node_modules/systemjs/dist/system.src.js"></script>


    <script>
        var ServerInject = {
            user: <%- JSON.stringify(user); %>,
            ConfigInject: <%- JSON.stringify(clientConfig); %>
        }
    </script>



    <script src="systemjs.config.js"></script>
    <script>
        System.import('').catch(function (err) {
            console.error(err);
        });
    </script>
</head>

<body style="overflow-y: scroll">
<pi-gallery2-app>Loading...</pi-gallery2-app>

<script
        src="https://code.jquery.com/jquery-2.2.3.min.js"
        integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
</body>
</html>