<gallery-lightbox #lightbox (onLastElement)="onLightboxLastElement()"></gallery-lightbox>
<app-frame>

  <ng-container navbar>

    <li *ngIf="countDown">
      <p class="navbar-text">Link availability: {{countDown.day}} days,
        {{("0"+countDown.hour).slice(-2)}}:{{("0"+countDown.minute).slice(-2)}}:{{("0"+countDown.second).slice(-2)}}
      </p>
    </li>
    <li *ngIf="showSearchBar">
      <gallery-search #search></gallery-search>
    </li>
    <li *ngIf="showShare">
      <gallery-share></gallery-share>
    </li>
    -
  </ng-container>


  <div body class="container" style="width: 100%; padding:0" *ngIf="_galleryService.content.value.directory">
    <gallery-navbar [directory]="_galleryService.content.value.directory"></gallery-navbar>

    <div class="directories">
      <gallery-directory *ngFor="let directory of directories"
                         [directory]="directory"></gallery-directory>
    </div>
    <gallery-map *ngIf="isPhotoWithLocation && mapEnabled"
                 [photos]="_galleryService.content.value.directory.photos"></gallery-map>
    <gallery-grid [photos]="_galleryService.content.value.directory.photos" [lightbox]="lightbox"></gallery-grid>
  </div>

  <div body class="container" style="width: 100%; padding:0" *ngIf="_galleryService.content.value.searchResult">
    <ol class="breadcrumb">
      <li class="active">
        Searching for:
        <span [ngSwitch]="_galleryService.content.value.searchResult.searchType">
                        <span *ngSwitchCase="0" class="glyphicon glyphicon-picture"></span>
                        <span *ngSwitchCase="1" class="glyphicon glyphicon-folder-open"></span>
                        <span *ngSwitchCase="2" class="glyphicon glyphicon-tag"></span>
                        <span *ngSwitchCase="3" class="glyphicon glyphicon-map-marker"></span>
                    </span>
        <strong>{{_galleryService.content.value.searchResult.searchText}}</strong>
      </li>
    </ol>

    <gallery-map *ngIf="isPhotoWithLocation && mapEnabled"
                 [photos]="_galleryService.content.value.searchResult.photos"></gallery-map>

    <div class="directories">
      <gallery-directory *ngFor="let directory of directories"
                         [directory]="directory"></gallery-directory>
    </div>
    <gallery-grid [photos]="_galleryService.content.value.searchResult.photos" [lightbox]="lightbox"></gallery-grid>
  </div>

  <div body class="container"
       style="width: 100%; padding:0"
       *ngIf="(!_galleryService.content.value.directory ||
        (_galleryService.content.value.directory.photos.length == 0
        && _galleryService.content.value.directory.directories.length == 0))
       && !_galleryService.content.value.searchResult">
    <div class="spinner">

    </div>
  </div>
</app-frame>
