gallery-map {
    margin-right: 0;
    margin-left: auto;
    display: block;
    height: 80px;
    width: 100px;
}

.directories {
  margin-right: 2px;
  margin-left: 2px;
}

gallery-directory {
  margin: 2px;
  display: inline-block;
}
