<gallery-lightbox #lightbox></gallery-lightbox>
<app-frame>
    <div navbar>
        <gallery-search *ngIf="showSearchBar"></gallery-search>
    </div>
    <div body class="container" style="width: 100%; padding:0" *ngIf="_galleryService.content.directory">
        <gallery-directory *ngFor="let directory of _galleryService.content.directory.directories"
                           [directory]="directory"></gallery-directory>
        <gallery-grid [photos]="_galleryService.content.directory.photos" [lightbox]="lightbox"></gallery-grid>
    </div>

    <div body class="container" style="width: 100%; padding:0" *ngIf="_galleryService.content.searchResult">
        <ol class="breadcrumb">
            <li class="active"> Searching for: <strong>{{_galleryService.content.searchResult.searchText}}</strong></li>
        </ol>
        <div *ngFor="let directory of _galleryService.content.searchResult.directories">
            <gallery-directory *ngIf="directory" [directory]="directory"></gallery-directory>
        </div>
        <gallery-grid [photos]="_galleryService.content.searchResult.photos" [lightbox]="lightbox"></gallery-grid>
    </div>
</app-frame>