<gallery-lightbox #lightbox></gallery-lightbox>
<app-frame>
    <div navbar>
        <gallery-search></gallery-search>
    </div>
    <div body class="container" style="width: 100%; padding:0" *ngIf="currentDirectory">
        <div  *ngFor="let directory of currentDirectory.directories">
            <gallery-directory *ngIf="directory" [directory]="directory"></gallery-directory>
        </div>
        <gallery-grid  [directory]="currentDirectory" [lightbox]="lightbox"></gallery-grid>
    </div>
</app-frame>