.github/
.idea/
.git/
node_modules/
release/
demo/
dist/
PiGallery2.iml
docs/
out-tsc/
test/
docker/
src/**/*.js
src/**/*.js.map
gulpfile.js
gulpfile.js.map
.travis.yml
config.json
karma.conf.js
protractor.conf.js
Procfile
.*ignore
