.idea/
PiGallery2.iml
node_modules/
typings/
frontend/app/**/*.js
frontend/app/**/*.js.map
frontend/main.js
frontend/main.js.map
frontend/dist
backend/**/*.js
backend/**/*.js.map
common/**/*.js
common/**/*.js.map
test/coverage
test/backend/**/*.js
test/backend/**/*.js.map
demo/TEMP/
config.json
