.idea/
PiGallery2.iml
node_modules/
typings/
frontend/*/*.js
frontend/*/*.js.map
frontend/main.js
frontend/main.js.map
frontend/dist
backend/*/*.js
backend/*/*.js.map
backend/*.js
backend/*.js.map
common/*/*.js
common/*/*.js.map
test/coverage
