<div class="input-group">

  <app-gallery-search-field-base [(ngModel)]="rawSearchText"
                                 (ngModelChange)="validateRawSearchText()"
                                 class="search-field col p-0"
                                 (search)="search.emit()"
                                 [placeholder]="placeholder"
                                 name="search-field">

  </app-gallery-search-field-base>

  <div class="input-group-btn col-auto pe-0" style="display: block">
    <button class="btn btn-light" type="button" (click)="openSearchModal(searchModal)">
      <span class="oi oi-chevron-bottom"></span>
    </button>
  </div>
</div>


<ng-template #searchModal>
  <!-- sharing Modal-->
  <div class="modal-header">
    <h5 class="modal-title" i18n>{{placeholder}}</h5>
    <button type="button"  class="btn-close"  (click)="hideSearchModal()" data-dismiss="modal" aria-label="Close">
    </button>
  </div>
  <div class="modal-body">
    <form #searchPanelForm="ngForm" class="form-horizontal">

      <app-gallery-search-query-builder
        name="search-query-builder"
        [(ngModel)]="searchQueryDTO"
        [placeholder]="placeholder"
        (change)="onQueryChange()"
        (search)="search.emit()">
      </app-gallery-search-query-builder>


    </form>
  </div>
</ng-template>
