<form #settingsForm="ngForm" class="form-horizontal">
  <div class="card mb-4">
    <h5 class="card-header">
      <span class="oi oi-{{icon}}"></span> {{Name}}
    </h5>
    <div class="card-body">
      <div [hidden]="!error" class="alert alert-danger" role="alert"><strong>Error: </strong>{{error}}</div>


      <app-settings-entry
        name="Thumbnail Quality"
        description="High quality may be slow."
        i18n-description i18n-name
        [ngModel]="states.server.qualityPriority"
        [simplifiedMode]="simplifiedMode">
      </app-settings-entry>


      <app-settings-entry
        name="Icon size"
        description="Icon size (used on maps)."
        i18n-description i18n-name
        [ngModel]="states.client.iconSize"
        [simplifiedMode]="simplifiedMode"
        [required]="true">
      </app-settings-entry>


      <app-settings-entry
        name="Thumbnail sizes"
        i18n-name
        placeholder="240; 480"
        [ngModel]="states.client.thumbnailSizes"
        [simplifiedMode]="simplifiedMode"
        [required]="true">
        <small class="form-text text-muted">
          <ng-container i18n>Size of the thumbnails.</ng-container>
          <br/>
          <ng-container i18n>The best matching size will be generated. (More sizes give better quality, but use more
            storage and CPU to render.)
          </ng-container>
          <br/>
          <ng-container i18n>';' separated integers. If size is 240, that shorter side of the thumbnail will have 160
            pixels.
          </ng-container>
        </small>
      </app-settings-entry>


      <button class="btn btn-success float-end"
              [disabled]="!settingsForm.form.valid || !changed || inProgress"
              (click)="save()" i18n>Save
      </button>
      <button class="btn btn-secondary float-end"
              [disabled]=" !changed || inProgress"
              (click)="reset()" i18n>Reset
      </button>


      <app-settings-job-button class="mt-2 mt-md-0 float-left"
                               [soloRun]="true"
                               (jobError)="error=$event"
                               [jobName]="jobName"
                               [allowParallelRun]="false"
                               [config]="Config"></app-settings-job-button>


      <ng-container *ngIf="Progress != null">
        <br/>
        <hr/>
        <app-settings-job-progress [progress]="Progress"></app-settings-job-progress>
      </ng-container>

    </div>

  </div>
</form>
