.filter-column {
  max-height: 12em;
  overflow-y: auto;
}

.filter-option {
  cursor: pointer;
}

.filter-option .oi {
  height: 0;
  font-size: 0;
  transition: all 0.1s;
  display: inline-block;
  padding: 0;
  margin: 0;
  color: #aaa;
}

.filter-option:hover .oi.filter-pin, .filter-option .oi.filter-only-selected {
  display: inline-block;
  height: auto;
  font-size: 1rem;
  padding: 0 0.3rem;
  margin-left: -0.6rem;
}

.filter-option:hover .oi.filter-pin:hover {
  color: #212529;
}

.filter-option .oi.filter-only-selected {
  color: #007bff;
}


.filter-container {
  margin-top: -1rem;
}

.filter-container > card-body {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
}

.unselected {
  color: #6c757d;
  background-color: #fff;
}
