<div class="card bg-light filter-container">
  <div class="card-body row ">
    <div class="col-3" *ngFor="let filter of filterService.selectedFilters | async; let i=index">
      <select [(ngModel)]="filter.filter"
              (ngModelChange)="filterService.onFilterChange()"
              class="form-control" id="gallery-filter-{{i}}">
        <option *ngFor="let f of filterService.AVAILABLE_FILTERS"
                [ngValue]="f">{{f.name}}</option>
      </select>
      <div class="filter-column">
        <ul class="list-group" *ngIf="filter.options.length > 0">
          <li
            *ngFor="let option of filter.options"
            [class.unselected] = "!option.selected"
            (click)="option.selected = !option.selected; filterService.onFilterChange()"
            class="filter-option list-group-item list-group-item-action d-flex justify-content-between align-items-center">
            {{option.name === undefined ? unknownText : option.name}}
            <span class="badge badge-pill"
                  [class.badge-primary] = "option.selected"
                  [class.badge-secondary] = "!option.selected"
            >{{option.count}}</span>

          </li>
        </ul>
        <div class="card-body text-center" *ngIf="filter.options.length === 0" i18n>Nothing to filter</div>
      </div>
    </div>
  </div>
</div>
