<form #settingsForm="ngForm" class="form-horizontal">
  <div class="card mb-4">
    <h5 class="card-header">
      {{Name}}
    </h5>
    <div class="card-body">
      <div [hidden]="!error" class="alert alert-danger" role="alert"><strong>Error: </strong>{{error}}</div>

      <div *ngFor="let schedule of sortedSchedules() as schedules; let i= index">
        <div class="card bg-light {{shouldIdent(schedule,schedules[i-1])? 'ml-4' : ''}}">
          <div class="card-header clickable"
               (click)="showDetails[schedule.name]=!showDetails[schedule.name]">
            <div class="d-flex justify-content-between">
              {{schedule.name}} @<!--
              -->
              <ng-container [ngSwitch]="schedule.trigger.type">
                <ng-container *ngSwitchCase="JobTriggerType.periodic">
                  <ng-container i18n>every</ng-container>
                  {{periods[schedule.trigger.periodicity]}} {{schedule.trigger.atTime | date:"HH:mm":"+0"}}
                </ng-container>
                <ng-container
                  *ngSwitchCase="JobTriggerType.scheduled">{{schedule.trigger.time | date:"medium"}}</ng-container>
                <ng-container *ngSwitchCase="JobTriggerType.never" i18n>never</ng-container>
                <ng-container *ngSwitchCase="JobTriggerType.after">
                  <ng-container i18n>after</ng-container>
                  {{schedule.trigger.afterScheduleName}}
                </ng-container>
              </ng-container>
              <div>
                <button class="btn btn-danger job-control-button" (click)="remove(i)"><span class="oi oi-trash"></span>
                </button>
                <button class="btn btn-success job-control-button"
                        *ngIf="!getProgress(schedule)"
                        [disabled]="disableButtons"
                        (click)="start(schedule); $event.stopPropagation();"><span class="oi oi-media-play"></span>
                </button>
                <button class="btn btn-secondary job-control-button"
                        *ngIf="getProgress(schedule)"
                        [disabled]="disableButtons || getProgress(schedule).state !== JobProgressStates.running"
                        (click)="stop(schedule); $event.stopPropagation();"><span class="oi oi-media-stop"></span>
                </button>
              </div>
            </div>
          </div>


          <div class="card-body" [hidden]="!showDetails[schedule.name]">
            <div class="row">

              <div class="col-md-9">
                <div class="form-group row">
                  <label class="col-md-2 control-label" [for]="'jobName'+i" i18n>Job:</label>
                  <div class="col-md-10">
                    {{schedule.jobName}}
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-2 control-label" [for]="'repeatType'+i" i18n>Periodicity:</label>
                  <div class="col-md-10">
                    <select class="form-control" [(ngModel)]="schedule.trigger.type"
                            (ngModelChange)="jobTriggerTypeChanged($event,schedule)"
                            [name]="'repeatType'+i" required>
                      <option *ngFor="let jobTrigger of JobTriggerTypeMap"
                              [ngValue]="jobTrigger.key">{{jobTrigger.value}}
                      </option>
                    </select>
                    <small class="form-text text-muted"
                           i18n>Set the time to run the job.
                    </small>
                  </div>
                </div>

                <div class="form-group row" *ngIf="schedule.trigger.type == JobTriggerType.after">
                  <label class="col-md-2 control-label" [for]="'triggerAfter'+i" i18n>After:</label>
                  <div class="col-md-10">
                    <select class="form-control" [(ngModel)]="schedule.trigger.afterScheduleName"
                            [name]="'triggerAfter'+i" required>
                      <ng-container *ngFor="let sch of settings.scheduled">
                        <option *ngIf="sch.name !== schedule.name"
                                [ngValue]="sch.name">{{sch.name}}
                        </option>
                      </ng-container>
                    </select>
                    <small class="form-text text-muted"
                           i18n>The job will run after that job finishes.
                    </small>
                  </div>
                </div>


                <div class="form-group row" *ngIf="schedule.trigger.type == JobTriggerType.scheduled">
                  <label class="col-md-2 control-label" [for]="'triggerTime'+i" i18n>At:</label>
                  <div class="col-md-10">
                    <app-timestamp-datepicker
                      [name]="'triggerTime'+i"
                      (timestampChange)="testSettingChanges()"
                      [(timestamp)]="schedule.trigger.time"></app-timestamp-datepicker>
                  </div>
                </div>

                <div class="form-group row" *ngIf="schedule.trigger.type == JobTriggerType.periodic">
                  <label class="col-md-2 control-label" [for]="'periodicity'+i" i18n>At:</label>
                  <div class="col-md-10">
                    <select
                      class="form-control" [(ngModel)]="schedule.trigger.periodicity"
                      [name]="'periodicity' + i"
                      required>
                      <option *ngFor="let period of periods; let i = index"
                              [ngValue]="i">
                        <ng-container i18n>every</ng-container>
                        {{period}}
                      </option>
                    </select>
                    <app-timestamp-timepicker
                      [name]="'atTime'+i"
                      (timestampChange)="testSettingChanges()"
                      [(timestamp)]="schedule.trigger.atTime"></app-timestamp-timepicker>
                  </div>
                </div>
              </div>

              <div class="col-md-3">
                <button class="btn btn-success float-right"
                        *ngIf="!getProgress(schedule)"
                        [disabled]="disableButtons"
                        title="Trigger job run manually"
                        i18n-title
                        (click)="start(schedule)" i18n>Start now
                </button>
                <button class="btn btn-secondary float-right"
                        *ngIf="getProgress(schedule)"
                        [disabled]="disableButtons || getProgress(schedule).state !== JobProgressStates.running"
                        (click)="stop(schedule)" i18n>Stop
                </button>
              </div>
            </div>

            <ng-container *ngIf="getConfigTemplate(schedule.jobName) ">
              <hr/>
              <div *ngFor="let configEntry of  getConfigTemplate(schedule.jobName)">

                <div class="form-group row">
                  <label class="col-md-2 control-label"
                         [for]="configEntry.id+'_'+i">{{backendtextService.get(configEntry.name)}}:</label>
                  <div class="col-md-10">
                    <ng-container [ngSwitch]="configEntry.type">
                      <ng-container *ngSwitchCase="'boolean'">
                        <bSwitch
                          id="enableThreading"
                          class="switch"
                          [name]="configEntry.id+'_'+i"
                          [id]="configEntry.id+'_'+i"
                          [switch-on-color]="'primary'"
                          [switch-inverse]="true"
                          [switch-off-text]="text.Disabled"
                          [switch-on-text]="text.Enabled"
                          [switch-handle-width]="100"
                          [switch-label-width]="20"
                          [(ngModel)]="schedule.config[configEntry.id]">
                        </bSwitch>
                      </ng-container>

                      <ng-container *ngSwitchCase="'string'">
                        <input type="text" class="form-control" [name]="configEntry.id+'_'+i"
                               [id]="configEntry.id+'_'+i"
                               [(ngModel)]="schedule.config[configEntry.id]" required>
                      </ng-container>

                      <ng-container *ngSwitchCase="'number'">
                        <input type="number" class="form-control" [name]="configEntry.id+'_'+i"
                               [id]="configEntry.id+'_'+i"
                               [(ngModel)]="schedule.config[configEntry.id]" required>
                      </ng-container>

                      <ng-container *ngSwitchCase="'number-array'">
                        <input type="text" class="form-control"
                               [name]="configEntry.id+'_'+i"
                               [id]="configEntry.id+'_'+i"
                               (ngModelChange)="setNumberArray(schedule.config,configEntry.id,$event)"
                               [ngModel]="getNumberArray(schedule.config,configEntry.id)" required>
                      </ng-container>
                    </ng-container>
                    <small class="form-text text-muted">
                      <ng-container *ngIf="configEntry.type == 'number-array'" i18n>';' separated integers.
                      </ng-container>
                      {{backendtextService.get(configEntry.description)}}
                    </small>
                  </div>
                </div>

              </div>
            </ng-container>
          </div>

          <app-settings-job-progress
            class="card-footer bg-transparent"
            *ngIf="getProgress(schedule) || getLastRun(schedule)"
            [progress]="getProgress(schedule) || getLastRun(schedule)">
          </app-settings-job-progress>

        </div>
      </div>
      <button class="btn btn-success float-right"
              [disabled]="!settingsForm.form.valid || !changed || inProgress"
              (click)="save()" i18n>Save
      </button>
      <button class="btn btn-secondary float-right"
              [disabled]=" !changed || inProgress"
              (click)="reset()" i18n>Reset
      </button>
      <button class="btn btn-primary float-right"
              (click)="prepareNewJob()" i18n>+ Add Job
      </button>
    </div>

  </div>

</form>


<!-- Modal -->
<div bsModal #jobModal="bs-modal" class="modal fade" id="jobModal" tabindex="-1" role="dialog"
     aria-labelledby="jobModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="jobModalLabel" i18n>Add new job</h5>
        <button type="button" class="close" (click)="jobModal.hide()" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #jobModalForm="ngForm">
        <div class="modal-body">
          <select class="form-control" (change)="jobTypeChanged(newSchedule)" [(ngModel)]="newSchedule.jobName"
                  name="newJobName" required>
            <option *ngFor="let availableJob of _settingsService.availableJobs | async"
                    [ngValue]="availableJob.Name">{{availableJob.Name}}
            </option>
          </select>
          <small class="form-text text-muted"
                 i18n>Select a job to schedule.
          </small>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="jobModal.hide()" i18n>Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal"
                  (click)="addNewJob()"
                  [disabled]="!jobModalForm.form.valid" i18n>Add Job
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
