<form #settingsForm="ngForm" class="form-horizontal">
  <div class="card mb-4">
    <h5 class="card-header">
      <span class="oi oi-{{icon}}"></span> {{Name}}
    </h5>
    <div class="card-body">
      <div [hidden]="!error" class="alert alert-danger" role="alert"><strong>Error: </strong>{{error}}</div>


      <app-settings-entry
        name="*.gpx files"
        description="Reads *.gpx files and renders them on the map."
        i18n-description i18n-name
        [disabled]="!(settingsService.Settings | async).Client.Map.enabled"
        [ngModel]="states.gpx">
      </app-settings-entry>

      <app-settings-entry
        name="Markdown files"
        description="Reads *.md files in a directory and shows the next to the map."
        i18n-description i18n-name
        [ngModel]="states.markdown">
      </app-settings-entry>

      <app-settings-entry
        name="*.pg2conf files"
        description="Reads *.pg2conf files (You can use it for custom sorting and save search (albums))."
        i18n-description i18n-name
        [ngModel]="states.pg2conf">
      </app-settings-entry>


      <button class="btn btn-success float-end"
              [disabled]="!settingsForm.form.valid || !changed || inProgress"
              (click)="save()" i18n>Save
      </button>
      <button class="btn btn-secondary float-end"
              [disabled]=" !changed || inProgress"
              (click)="reset()" i18n>Reset
      </button>
    </div>
  </div>

</form>
