<div class="container d-flex  flex-column justify-content-center">
  <div class="row align-self-end">
    <app-language></app-language>
  </div>
  <div class="row title  align-self-center">
    <h1><img src="assets/icon.png"/>{{title}}</h1>
  </div>
  <div class="row card align-self-center">
    <div class="card-body">
      <form name="form" id="form" class="form-horizontal" #LoginForm="ngForm" (submit)="onLogin()">
        <div class="error-message" [hidden]="loginError==false" i18n>Wrong password</div>


        <div class="mb-3">
          <label class="sr-only" for="password">Password</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <div class="input-group-text"><span class="oi oi-lock-locked"></span></div>
            </div>
            <input type="password"
                   i18n-placeholder
                   class="form-control"
                   name="password"
                   id="password"
                   placeholder="Password"
                   autocomplete="login-password"
                   [(ngModel)]="password"
                   required>
          </div>
        </div>


        <div class="mb-3">
          <!-- Button -->
          <div class="col-sm-12 controls">
            <button class="btn btn-primary btn-lg btn-block"
                    [disabled]="!LoginForm.form.valid"
                    type="submit"
                    name="action" i18n>Enter
            </button>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>

