.title h1 {
  font-size: 80px;
  font-weight: bold;
  text-align: center;
}

.title img {
  height: 80px;
}

@media screen and ( max-width: 500px ) {
  .title h1 {
    font-size: 70px;
  }

  .title img {
    height: 70px;
  }
}

/*Margin by pixel:*/
@media screen and ( min-height: 600px ) {
  .card {
    margin-top: calc((100vh - 120px - 295px) / 2 - 60px)
  }
}

.card {
  min-width: 400px;
  background-color: #F7F7F7;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);

}

.error-message {
  color: #d9534f;
}
