<app-gallery-lightbox #lightbox></app-gallery-lightbox>
<app-frame>

  <ng-container navbar>
    <li class="nav-item" *ngIf="countDown">
      <span class="navbar-text">
        <ng-container i18n>Link availability</ng-container>
        : {{countDown.day}}
        <ng-container i18n>days</ng-container>
        ,
        {{("0" + countDown.hour).slice(-2)}}:{{("0" + countDown.minute).slice(-2)}}
        :{{("0" + countDown.second).slice(-2)}}
      </span>
    </li>
    <li class="nav-item" *ngIf="showSearchBar">
      <app-gallery-search></app-gallery-search>
    </li>
    <li class="nav-item" *ngIf="showShare">
      <app-gallery-share></app-gallery-share>
    </li>
  </ng-container>

  <ng-container navbar-menu>
    <li role="menuitem" *ngIf="showRandomPhotoBuilder">
      <app-gallery-random-query-builder></app-gallery-random-query-builder>
    </li>
  </ng-container>


  <div body class="container-fluid" style="width: 100%; padding:0" *ngIf="_galleryService.content.value.directory">
    <app-gallery-navbar [directory]="_galleryService.content.value.directory"></app-gallery-navbar>

    <app-gallery-directories class="directories" [directories]="directories"></app-gallery-directories>

    <app-gallery-map *ngIf="isPhotoWithLocation && mapEnabled"
                     [photos]="_galleryService.content.value.directory.media"
                     [metaFiles]="_galleryService.content.value.directory.metaFile"></app-gallery-map>
    <app-gallery-grid [media]="_galleryService.content.value.directory.media"
                      [lightbox]="lightbox"></app-gallery-grid>
  </div>
  <!-- Search-->
  <div body class="container-fluid" style="width: 100%; padding:0" *ngIf="_galleryService.content.value.searchResult">
    <div class="alert alert-info" role="alert"
         *ngIf="_galleryService.content.value.searchResult.resultOverflow == true" i18n>
      Too many results to show. Refine your search.
    </div>
    <app-gallery-navbar [searchResult]="_galleryService.content.value.searchResult"></app-gallery-navbar>

    <app-gallery-map *ngIf="isPhotoWithLocation && mapEnabled"
                     [photos]="_galleryService.content.value.searchResult.media"
                     [metaFiles]="_galleryService.content.value.searchResult.metaFile"></app-gallery-map>

    <app-gallery-directories class="directories" [directories]="directories"></app-gallery-directories>

    <app-gallery-grid [media]="_galleryService.content.value.searchResult.media"
                      [lightbox]="lightbox"></app-gallery-grid>
  </div>

  <div body class="container"
       style="width: 100%; padding:0"
       *ngIf="(!_galleryService.content.value.directory ||
        _galleryService.content.value.directory.isPartial == true)
       && !_galleryService.content.value.searchResult">
    <div class="spinner">

    </div>
  </div>
</app-frame>
