<div class="imgContainer" #imgContainer>
  <img *ngIf="showThumbnail()"
       [style.width.%]="imageSize.width"
       [style.height.%]="imageSize.height"
       [src]="thumbnailSrc"/>

  <img *ngIf="gridMedia !== null && gridMedia.isPhoto() && loadMedia && photoSrc"
       [style.width.%]="imageSize.width"
       [style.height.%]="imageSize.height"
       [src]="photoSrc"
       (load)="onImageLoad()"
       (error)="onImageError()"/>

  <video #video
          *ngIf="gridMedia !== null && gridMedia.isVideo() && loadMedia"
         [style.width.%]="imageSize.width"
         [style.height.%]="imageSize.height"
         (loadstart)="onImageLoad()"
         autoplay
         (error)="onImageError()"
          (timeupdate)="onVideoProgress()" >
    <source [src]="gridMedia.getPhotoPath()" type="{{getVideoType()}}">
  </video>

</div>


