<a #dirContainer class="button btn btn-secondary"
   [routerLink]="['/gallery', getDirectoryPath()]"
   [queryParams]="queryService.getParams()"
   style="display: inline-block;">


  <div class="photo-container"
       [style.width.px]="calcSize()"
       [style.height.px]="calcSize()">
    <div [ngClass]="'photo ' + (SamplePhoto ?  'photo-orientation-'+SamplePhoto.metadata.orientation : '')"
         *ngIf="thumbnail && thumbnail.Available"
         [style.background-image]="getSanitizedThUrl()"></div>

    <span *ngIf="!thumbnail || !thumbnail.Available" class="oi oi-folder no-image"
          aria-hidden="true">
    </span>
  </div>
  <!--Info box -->
  <div #info class="info">
    <div class="directory-name">{{directory.name}}</div>

  </div>
</a>

