<a #dirContainer class="button btn btn-default" [routerLink]="['/gallery', getDirectoryPath()]"
   style="display: inline-block;">


    <div class="photo-container">

        <div class="photo" *ngIf="thumbnail && thumbnail.available"
             [style.background-image]="'url('+thumbnail.src+')'"></div>

        <span *ngIf="!thumbnail || !thumbnail.available" class="glyphicon glyphicon-folder-open no-image"
              aria-hidden="true">

    </span>
    </div>
    <!--Info box -->
    <div #info class="info">
        <div class="photo-name">{{directory.name}}</div>

    </div>
</a>

