<ng-container [ngSwitch]="method">
  <ng-container *ngSwitchCase="SortingByTypes.Name">
    <ng-icon name="ionTextOutline"></ng-icon>
  </ng-container>
  <ng-container *ngSwitchCase="SortingByTypes.Rating">
    <ng-icon name="ionStarOutline"></ng-icon>
  </ng-container>
  <ng-container *ngSwitchCase="SortingByTypes.Date">
    <ng-icon name="ionCalendarOutline"></ng-icon>
  </ng-container>
  <ng-container *ngSwitchCase="SortingByTypes.PersonCount">
    <ng-icon name="ionPersonOutline"></ng-icon>
  </ng-container>
  <ng-container *ngSwitchCase="SortingByTypes.random">
    <ng-icon name="ionShuffleOutline"></ng-icon>
  </ng-container>
</ng-container>
