.navbar-container {
  z-index: 1040;
  margin-bottom: 20px;
  position: absolute;
  width: 100%;
}

.auto-hide-navbar {
  position: sticky;
  top: 0;
  transform: translateY(0);
}

.navbar-keep-top {
  position: relative;
  transform: translateY(0);
  transition: transform 0s;
}

.hide-navbar {
  transform: translateY(-100%);

}

.animate-navbar {
  transition: transform 0.3s ease-in-out;
}

.divider-vertical:first-child {
  display: none;
}

.navbar .divider-vertical {
  margin: 5px 10px;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.navbar-inverse .divider-vertical {
  border-right-color: #5d5d5d;
  border-left-color: #3d3d3d;
}

.navbar-badge {
  border-radius: 1rem !important;
  margin-left: -10px;
}


a.dropdown-item, button.dropdown-item, div.dropdown-item {
  padding: 0.3rem 1.0rem 0.3rem 0.8rem;
}

a.dropdown-item span, button.dropdown-item span, div.dropdown-item span {
  padding-right: 0.8rem;
}


a.dropdown-item span.badge, button.dropdown-item span.badge {
  padding: 0.25em 0.37rem 0.25rem 0;
  margin-left: -0.8rem;
}
