<ngx-loading-bar [includeSpinner]="false" color="#337ab7" height="3px"></ngx-loading-bar>
<div #navContainer class="navbar-container auto-hide-navbar"
     [class.navbar-keep-top]="navbarKeepTop"
     [class.hide-navbar]="!navbarKeepTop && shouldHideNavbar"
     [class.animate-navbar]="animateNavbar">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand d-none d-sm-block" [routerLink]="['/gallery']"
         [queryParams]="queryService.getParams()">
        <img src="assets/icon_inv.png" width="30" height="30" class="d-inline-block align-top" alt="">
        <strong class="d-none d-lg-inline-block">{{title}}</strong>
      </a>
      <div class="collapse navbar-collapse text-center" id="navbarCollapse" [collapse]="collapsed">
        <ul class="navbar-nav mb-0 me-2 text-lg-start d-none d-md-flex">
          <ng-container *ngFor="let link of navbarLinks">
            <li class="nav-item" *ngIf="link.type === NavigationLinkTypes.albums && isAlbumsAvailable()">
              <a class="nav-link" [routerLink]="['/albums']" [class.active]="isLinkActive('/albums')" i18n>Albums</a>
            </li>
            <li class="nav-item" *ngIf="link.type === NavigationLinkTypes.faces && isFacesAvailable()">
              <a class="nav-link" [routerLink]="['/faces']" [class.active]="isLinkActive('/faces')" i18n>Faces</a>
            </li>
            <li class="nav-item" *ngIf="link.type === NavigationLinkTypes.gallery">
              <a class="nav-link"
                 [routerLink]="['/gallery']"
                 [queryParams]="queryService.getParams()" [class.active]="isLinkActive('/gallery')" i18n>Gallery</a>
            </li>
            <li class="nav-item" *ngIf="link.type === NavigationLinkTypes.url">
              <a class="nav-link" [href]="link.url" [class.active]="isLinkActive(link.url)">{{link.name}}</a>
            </li>
            <li class="nav-item" *ngIf="link.type === NavigationLinkTypes.search">
              <a class="nav-link" [routerLink]="['/search', link.SearchQuery | json]"
                 [class.active]="isSearchActive(link.SearchQuery)">{{link.name}}</a>
            </li>
          </ng-container>
        </ul>
        <div class="text-lg-end w-100">
          <ul class="navbar-nav">
            <li class="flex-grow-1"></li>
            <ng-content select="[navbar]"></ng-content>
            <li class="nav-item w-100" *ngIf="showSearch">
              <app-gallery-search></app-gallery-search>
            </li>
            <li class="nav-item d-xl-block d-none" *ngIf="showShare">
              <app-gallery-share></app-gallery-share>
            </li>
            <li class="nav-item divider-vertical  d-xl-block d-none"
                *ngIf="authenticationRequired && user.value && showShare">
            </li>
            <ng-container *ngIf="authenticationRequired && user.value">
              <li class="nav-item me-2 ms-2 navbar-text d-xl-block d-none">
             <span style="white-space: nowrap;">
                <span class="oi oi-person"></span> {{user.value.name}}
              </span>
              </li>
              <li class="nav-item divider-vertical  d-xl-block d-none">
              </li>
            </ng-container>
            <li class="nav-item d-xl-block d-none">
            <span>
              <app-language #languageSelector class="navbar-btn" [isDark]="true"></app-language>
            </span>
            </li>
            <li class="nav-item divider-vertical d-xl-block d-none">
            </li>
            <li class="nav-item dropdown">
              <div class="btn-group" dropdown #dropdown="bs-dropdown" placement="bottom"
                   [insideClick]="true">
                <button id="button-alignment" dropdownToggle
                        type="button" class="btn btn-dark dropdown-toggle"
                        aria-controls="dropdown-alignment">
                  <span class="oi oi-menu"></span>
                  <span *ngIf="isAdmin() && notificationService.numberOfNotifications>0"
                        class="navbar-badge badge text-bg-warning">{{notificationService.numberOfNotifications}}</span>
                </button>
                <ul id="dropdown-alignment" *dropdownMenu
                    class="dropdown-menu dropdown-menu-right"
                    role="menu" aria-labelledby="button-alignment">

                  <li role="menuitem" class="d-xl-none">
                    <div style="white-space: nowrap;" class="dropdown-item">
                      <ng-container *ngIf="authenticationRequired && user.value">
                        <span class="oi oi-person"></span>{{user.value.name}}
                      </ng-container>
                      <app-language class="navbar-btn d-inline-block" [isDark]="false"></app-language>
                    </div>
                  </li>
                  <li class="nav-item d-xl-none" *ngIf="showShare">
                    <app-gallery-share [dropDownItem]="true"></app-gallery-share>
                  </li>
                  <li role="menuitem" *ngIf="themesEnabled">
                    <div class="dropdown-item bg-transparent">
                      <button class="btn w-100 btn-secondary" (click)="themeService.toggleMode()">
                        <ng-container [ngSwitch]="themeService.mode">
                          <ng-container *ngSwitchCase="ThemeModes.light">
                            <span class="oi oi-sun"></span>
                            <ng-container i18n>Light</ng-container>
                          </ng-container>
                          <ng-container *ngSwitchCase="ThemeModes.dark">
                            <span class="oi oi-moon"></span>
                            <ng-container i18n>Dark</ng-container>
                          </ng-container>
                          <ng-container *ngSwitchCase="ThemeModes.auto">
                            <span class="oi oi-moon"></span>
                            <span class="oi oi-sun" style="margin-left: -0.8rem"></span>
                            <ng-container i18n>Auto</ng-container>
                          </ng-container>
                        </ng-container>
                      </button>
                    </div>
                  </li>
                  <hr/>
                  <ng-container *ngFor="let link of navbarLinks">
                    <li class="nav-item d-md-none"
                        *ngIf="link.type === NavigationLinkTypes.albums && isAlbumsAvailable()">
                      <a class="dropdown-item" [routerLink]="['/albums']" [class.active]="isLinkActive('/albums')">
                        <span class="oi oi-grid-two-up"></span>
                        <ng-container i18n>Albums</ng-container>
                      </a>
                    </li>
                    <li class="nav-item d-md-none"
                        *ngIf="link.type === NavigationLinkTypes.faces && isFacesAvailable()">
                      <a class="dropdown-item" [routerLink]="['/faces']" [class.active]="isLinkActive('/faces')">
                        <span class="oi oi-people"></span>
                        <ng-container i18n>Faces</ng-container>
                      </a>
                    </li>
                    <li class="nav-item d-md-none" *ngIf="link.type === NavigationLinkTypes.gallery">
                      <a class="dropdown-item"
                         [routerLink]="['/gallery']"
                         [queryParams]="queryService.getParams()" [class.active]="isLinkActive('/gallery')">
                        <span class="oi oi-image"></span>
                        <ng-container i18n>Gallery</ng-container>
                      </a>
                    </li>
                    <li class="nav-item d-md-none" *ngIf="link.type === NavigationLinkTypes.url">
                      <a class="dropdown-item" [href]="link.url" [class.active]="isLinkActive(link.url)">
                        <span class="oi oi-external-link"></span>
                        {{link.name}}
                      </a>
                    </li>
                    <li class="nav-item d-md-none" *ngIf="link.type === NavigationLinkTypes.search">
                      <a class="dropdown-item" [routerLink]="['/search', link.SearchQuery | json]"
                         [class.active]="isSearchActive(link.SearchQuery)">
                        <span class="oi oi-link-intact"></span>
                        {{link.name}}
                      </a>
                    </li>
                  </ng-container>
                  <hr class="d-md-none"/>

                  <ng-content select="[navbar-menu]"></ng-content>
                  <li role="menuitem" *ngIf="isAdmin()">
                    <a class="dropdown-item" [routerLink]="['/duplicates']">
                      <span class="oi oi-layers"></span>
                      <ng-container i18n>Duplicates</ng-container>
                    </a>
                  </li>
                  <li role="menuitem" *ngIf="isAdmin()">
                    <a class="dropdown-item" [routerLink]="['/admin']">
                      <span class="oi oi-wrench"></span>
                      <span *ngIf="notificationService.numberOfNotifications>0"
                            class="badge rounded-pill position-absolute p-0 text-bg-warning">{{notificationService.numberOfNotifications}}</span>
                      <ng-container i18n>Settings</ng-container>
                    </a>
                  </li>
                  <li role="menuitem" *ngIf="authenticationRequired">
                    <button class="dropdown-item btn btn-link" (click)="logout()">
                      <span class="oi oi-account-logout"></span>
                      <ng-container i18n>Logout</ng-container>
                    </button>
                  </li>
                </ul>
              </div>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </nav>
  <ng-content select="[navbar-appendix]"></ng-content>
</div>
<ng-content select="[body]"></ng-content>
