nav {
  z-index: 999;
}

.navbar {
  margin-bottom: 20px;
}

ng2-slim-loading-bar {
  /* display: block; */
  z-index: 999999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.container {
  width: 100%;
}

.admin-link {
  padding-bottom: 0;
  padding-left: 0;
  font-size: 18px;
}

.divider-vertical:first-child {
  display: none;
}

.navbar .divider-vertical {
  margin: 5px 10px;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.navbar-inverse .divider-vertical {
  border-right-color: #5d5d5d;
  border-left-color: #3d3d3d;
}

@media (max-width: 767px) {
  .navbar-collapse .nav > .divider-vertical {
    display: none;
  }

  .navbar-text {
    margin-left: 0;
  }
}

@media (min-width: 767px) {
  .navbar-text {
    margin-left: 0;
  }
}

.navbar-badge {
  border-radius: 1rem !important;
  margin-left: -10px;
}

app-language {
  display: block;
}

.navbar-expand .navbar-nav .nav-link {
  padding-right: 1.0rem;
  padding-left: 1.0rem;
}


a.dropdown-item, button.dropdown-item {
  padding: 0.3rem 1.0rem 0.3rem 0.8rem;
}

a.dropdown-item span, button.dropdown-item span {
  padding-right: 0.8rem;
}


a.dropdown-item span.badge, button.dropdown-item span.badge {
  padding: 0.25em 0.37rem 0.25rem 0;
  margin-left: -0.8rem;
}
