app-face {
    margin: 2px;
    display: inline-block;
}


.container-fluid {
    line-height: 0;
}

.no-face-msg {
    height: 100vh;
    text-align: center;
}

.no-face-msg h2 {
    color: #6c757d;
}
