.title {
  margin-left: -5px;
}

.btn {
  margin-left: 10px;
}

.form-control {
  margin: 5px 0;
}


.switch-wrapper {
  display: inline-block;
  text-align: right;
  padding: 0;
  float: right;
  margin-top: -4px;
  margin-bottom: -4px;

}
