<div [hidden]="!visible" #root>

  <div class="lightbox"
       [style.width.px]="lightboxDimension.width"
       [style.height.px]="lightboxDimension.height"
       [style.top.px]="lightboxDimension.top"
       [style.left.px]="lightboxDimension.left"
       [style.opacity]="opacity">
    <agm-map
      [style.width.px]="mapDimension.width"
      [style.height.px]="mapDimension.height"
      [fitBounds]="latlngBounds">
      <agm-marker
        *ngFor="let photo of mapPhotos"
        [latitude]="photo.latitude"
        [longitude]="photo.longitude"
        [iconUrl]="photo.iconUrl"
        (markerClick)="loadPreview(photo)">
        <agm-info-window>
          <img *ngIf="photo.preview.thumbnail.Src"
               [style.width.px]="photo.preview.width"
               [style.height.px]="photo.preview.height"
               [src]="photo.preview.thumbnail.Src">
          <div class="preview-loading"
               [style.width.px]="photo.preview.width"
               [style.height.px]="photo.preview.height"
               *ngIf="!photo.preview.thumbnail.Src">
              <span class="oi"
                    [ngClass]="photo.preview.thumbnail.Error ? 'oi-warning' :  'oi-picture'"
                    aria-hidden="true">
              </span>
          </div>
        </agm-info-window>
      </agm-marker>
    </agm-map>
  </div>


  <div id="controllers-container" *ngIf="controllersVisible">
    <div id="controls">
            <span>
                <span class="oi  oi-fullscreen-exit highlight"
                      *ngIf="fullScreenService.isFullScreenEnabled()"
                      (click)="fullScreenService.exitFullScreen()" title="toggle fullscreen"></span>
                </span>
      <span>
             <span class="oi oi-fullscreen-enter highlight"
                   *ngIf="!fullScreenService.isFullScreenEnabled()"
                   (click)="fullScreenService.showFullScreen(root)" title="toggle fullscreen"></span>
                </span>
      <span>
             <span class="oi oi-x highlight" (click)="hide()" title="close"></span>
             </span>
    </div>

  </div>
</div>
