.content {
  height: 100%;
  overflow-y: auto;
}

.row {
  margin-left: 0;
  margin-right: 0;
  padding: 10px 16px 10px 16px;
}

.details-icon {
  font-size: x-large;
}

.details-main {
  font-size: large;
}

.details-sub {
  padding: 0;
  font-size: small;
}

.details-sub div {
  padding-left: 5px;
  padding-right: 5px;
}

.caption-body {
  white-space: pre-wrap;
}

.yaga-map {
  width: 100%;
  height: 100%;
}

#map {
  width: 100%;
  height: 400px;
}

.close {
  margin: 0;
  font-size: 1.2rem;
}

.modal-header {
  padding: 0.4rem 1rem;
}


.keywords a, a.dir-link {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-body-color-rgb), var(--bs-text-opacity)) !important;
}

.keywords a:hover, a.dir-link:hover {
  text-decoration: underline;
}

.keywords .oi-person {
  margin-right: 2px;
}
