.content {
  background-color: #F7F7F7;
  height: 100%;
  overflow-y: auto;
}

.row {
  margin-left: 0;
  margin-right: 0;
  padding: 10px;
}

.details-icon {
  margin-top: .7rem;
  font-size: x-large;
}

.details-main {
  font-size: x-large;
}

.details-sub {
  color: #555;
  padding: 0;
  font-size: 0.875rem;
}

.details-sub div {
  padding-left: 5px;
  padding-right: 5px;
}

.yaga-map {
  width: 100%;
  height: 100%;
}

#map {
  width: 100%;
  height: 400px;
}

.close {
  margin: 0;
  font-size: 1.2rem;
}

.dir-link {
  cursor: pointer;
}

.dir-link:hover {
  text-decoration: underline;
}

.modal-header {
  padding: 0.4rem 1rem;
}


.keywords a {
  color: #212529;
}

.keywords a:hover {
  text-decoration: underline;
}

.keywords .oi-person {
  margin-right: 2px;
}
