<div #photoContainer class="photo-container" (mouseover)="hover()" (mouseout)="mouseOut()">
    <img #img [src]="image.src" [hidden]="!image.show || loading.show" (load)="onImageLoad()">

    <gallery-grid-photo-loading [animate]="loading.animate" *ngIf="loading.show">
    </gallery-grid-photo-loading>

    <!--Info box -->
    <div #info class="info" [style.margin-top.px]="-infoStyle.height"
         [style.background]="infoStyle.background">
        <div class="photo-name">{{gridPhoto.photo.name}}</div>

        <div class="photo-position" *ngIf="gridPhoto.photo.metadata.positionData">
            <span class="glyphicon glyphicon-map-marker"></span>
            <template [ngIf]="getPositionText()">
                <a [routerLink]="['Search',{searchText: getPositionText(), type:SearchTypes[SearchTypes.position]}]"
                   *ngIf="searchEnabled">
                    {{getPositionText()}}
                </a>
                <span *ngIf="!searchEnabled">{{getPositionText()}}</span>
            </template>
        </div>


        <div class="photo-keywords">
            <template ngFor let-keyword [ngForOf]="gridPhoto.photo.metadata.keywords" let-last="last">
                <a *ngIf="searchEnabled"
                   [routerLink]="['Search',{searchText: keyword, type: SearchTypes[SearchTypes.keyword]}]">#{{keyword}}</a>
                <span *ngIf="!searchEnabled">#{{keyword}}</span>
                <template [ngIf]="!last">,</template>
            </template>

        </div>
    </div>
</div>