<div *ngIf="directory" (window:resize)="onResize()">
    <gallery-photo
            *ngFor="#gridPhoto of photosToRender"
                    *ngIf="gridPhoto"
                   [photo]="gridPhoto.photo"
                   [directory]="directory"
                   [style.width.px]="gridPhoto.renderWidth"
                   [style.height.px]="gridPhoto.renderHeight"
                    [style.marginLeft.px]="IMAGE_MARGIN"
                    [style.marginRight.px]="IMAGE_MARGIN">

    </gallery-photo>
</div>