<div class="lightboxCss"
     #lightbox
     (click)="hideLightBox()" >
    <img [src]="lightboxModel.image.src" width="100%" height="100%"/>
</div>

<div #gridContainer *ngIf="directory" (window:resize)="onResize()" >
    <gallery-photo
                    *ngFor="let gridPhoto of photosToRender"
                    *ngIf="gridPhoto"
                    (click)="showLightBox(gridPhoto)"
                   [photo]="gridPhoto.photo"
                   [directory]="directory"
                   [style.width.px]="gridPhoto.renderWidth"
                   [style.height.px]="gridPhoto.renderHeight"
                   [style.marginLeft.px]="IMAGE_MARGIN"
                   [style.marginRight.px]="IMAGE_MARGIN">

    </gallery-photo>
</div>