form {
  padding-right: 1em;
}

@media screen and ( min-width: 1200px) {
  .search-field {
    max-width: 400px;
  }
}

@media screen and ( min-width: 1400px) {
  .search-field {
    max-width: 500px;
  }
}
