<form #settingsForm="ngForm">
  <div class="card mb-4"
       [ngClass]="states.enabled.value && !_settingsService.isSupported()?'panel-warning':''">
    <h5 class="card-header">
      {{Name}}
      <div class="switch-wrapper">
        <bSwitch
          class="switch"
          name="enabled"
          switch-on-color="success"
          switch-inverse="true"
          switch-off-text="Disabled"
          switch-on-text="Enabled"
          i18n-switch-off-text
          i18n-switch-on-text
          [switch-disabled]="inProgress || !_settingsService.isSupported()"
          switch-handle-width="100"
          switch-label-width="20"
          [(ngModel)]="states.enabled.value">
        </bSwitch>
      </div>
    </h5>
    <div class="card-body">
      <div [hidden]="!error" class="alert alert-danger" role="alert"><strong>Error: </strong>{{error}}</div>

      <ng-container *ngIf="states.enabled.value  || _settingsService.isSupported()">




        <app-settings-entry
          name="Autocomplete"
          description="Show hints while typing search query."
          i18n-description i18n-name
          [ngModel]="states.AutoComplete.enabled"
          required="true">
        </app-settings-entry>

        <app-settings-entry
          name="Instant search"
          description="Enables showing search results, while typing search query."
          i18n-description i18n-name
          [ngModel]="states.instantSearchEnabled"
          required="true">
        </app-settings-entry>



      </ng-container>
      <div class="panel-info" *ngIf="(!states.enabled.value && !_settingsService.isSupported())" i18n>
        Search is not supported with these settings
      </div>
      <button class="btn btn-success float-right"
              [disabled]="!settingsForm.form.valid || !changed || inProgress"
              (click)="save()" i18n>Save
      </button>
      <button class="btn btn-secondary float-right"
              [disabled]=" !changed || inProgress"
              (click)="reset()" i18n>Reset
      </button>
    </div>
  </div>

</form>
