<form #settingsForm="ngForm">
  <div class="card mb-4"
       [ngClass]="states.enabled.value && !settingsService.isSupported()?'panel-warning':''">
    <h5 class="card-header">
      <span class="oi oi-{{icon}}"></span> {{Name}}
      <div class="switch-wrapper">
        <bSwitch
          class="switch"
          name="enabled"
          switch-on-color="success"
          [switch-inverse]="true"
          switch-off-text="Disabled"
          switch-on-text="Enabled"
          i18n-switch-off-text
          i18n-switch-on-text
          [switch-disabled]="inProgress || !settingsService.isSupported()"
          [switch-handle-width]="100"
          [switch-label-width]="20"
          [(ngModel)]="states.enabled.value">
        </bSwitch>
      </div>
    </h5>
    <div class="card-body">
      <div [hidden]="!error" class="alert alert-danger" role="alert"><strong>Error: </strong>{{error}}</div>

      <ng-container *ngIf="states.enabled.value  || settingsService.isSupported()">


        <app-settings-entry
          name="Autocomplete"
          description="Show hints while typing search query."
          i18n-description i18n-name
          [simplifiedMode]="simplifiedMode"
          [ngModel]="states.AutoComplete.enabled">
        </app-settings-entry>

        <app-settings-entry
          name="Maximum media result"
          description="Maximum number of photos and videos that listed in one search result"
          i18n-description i18n-name
          [ngModel]="states.maxMediaResult"
          [simplifiedMode]="simplifiedMode"
          [required]="true">
        </app-settings-entry>

        <app-settings-entry
          name="List directories"
          description="Search will also return with directories"
          i18n-description i18n-name
          [ngModel]="states.listDirectories"
          [simplifiedMode]="simplifiedMode">
        </app-settings-entry>

        <app-settings-entry
          name="List metafiles"
          description="Search also returns with metafiles from directories that contain a media file of the matched search result"
          i18n-description i18n-name
          [ngModel]="states.listMetafiles"
          [simplifiedMode]="simplifiedMode">
        </app-settings-entry>


      </ng-container>
      <div class="panel-info" *ngIf="(!states.enabled.value && !settingsService.isSupported())" i18n>
        Search is not supported with these settings
      </div>
      <button class="btn btn-success float-end"
              [disabled]="!settingsForm.form.valid || !changed || inProgress"
              (click)="save()" i18n>Save
      </button>
      <button class="btn btn-secondary float-end"
              [disabled]=" !changed || inProgress"
              (click)="reset()" i18n>Reset
      </button>
    </div>
  </div>

</form>
