<form #settingsForm="ngForm">
  <div class="card mb-4"
       [ngClass]="states.enabled.value && !settingsService.isSupported()?'panel-warning':''">
    <h5 class="card-header">
      <span class="oi oi-{{icon}}"></span> {{Name}}
      <div class="switch-wrapper"
           [class.changed-settings]="states.enabled.value != states.enabled.default">
        <bSwitch
          class="switch"
          name="enabled"
          switch-on-color="success"
          [switch-inverse]="true"
          switch-off-text="Disabled"
          switch-on-text="Enabled"
          i18n-switch-off-text
          i18n-switch-on-text
          [switch-disabled]="inProgress || (!states.enabled.value && !settingsService.isSupported())"
          [switch-handle-width]="100"
          [switch-label-width]="20"
          [(ngModel)]="states.enabled.value">
        </bSwitch>
      </div>
    </h5>
    <div class="card-body">
      <div [hidden]="!error" class="alert alert-danger" role="alert"><strong>Error: </strong>{{error}}</div>

      <ng-container *ngIf="states.enabled.value  || settingsService.isSupported()">


        <app-settings-entry
          name="Override keywords"
          [ngModel]="states.keywordsToPersons"
          description="If a photo has the same face (person) name and keyword, the app removes the duplicate, keeping the face only."
          i18n-name i18n-description>
        </app-settings-entry>

        <app-settings-entry
          name="Face starring right"
          [ngModel]="states.writeAccessMinRole"
          description="Required minimum right to star (favourite) a face."
          i18n-name i18n-description>
        </app-settings-entry>

      </ng-container>

      <div class="panel-info" *ngIf="(!states.enabled.value && !settingsService.isSupported())" i18n>
        Faces are not supported with these settings.
      </div>
      <button class="btn btn-success float-end"
              [disabled]="!settingsForm.form.valid || !changed || inProgress"
              (click)="save()" i18n>Save
      </button>
      <button class="btn btn-secondary float-end"
              [disabled]=" !changed || inProgress"
              (click)="reset()" i18n>Reset
      </button>
    </div>
  </div>

</form>
