<div class="row mt-1 mb-1" *ngIf="queryEntry">
  <ng-container *ngIf="IsListQuery">
    <div class="col-md-3 col-4">
      <select
        id="listSearchType"
        name="listSearchType"
        class="form-select"
        [(ngModel)]="queryEntry.type"
        (ngModelChange)="onChangeType()">
        <option *ngFor="let opt of SearchQueryTypesEnum" [ngValue]="opt.key">{{opt.key | stringifySearchType}}
        </option>
      </select>
    </div>
    <ng-container *ngIf="queryEntry.type == SearchQueryTypes.SOME_OF">
      <label class="col-4 col-sm-auto control-label" for="someOfMinValue">
        <ng-container i18n>At least this many</ng-container>
        (1-{{AsListQuery.list.length}}):</label>
      <div class="col-md col">
        <input
          type="number" min="1" [max]="AsListQuery.list.length"
          class="form-control" placeholder="1"
          title="At least this many"
          i18n-title
          [(ngModel)]="AsSomeOfQuery.min"
          (ngModelChange)="onChange()"
          name="someOfMinValue"
          id="someOfMinValue"
          required="required">
      </div>
    </ng-container>

    <ng-container *ngIf="queryEntry.type != SearchQueryTypes.SOME_OF">
      <div class="col"></div>
    </ng-container>

    <button [ngClass]="'btn-danger'"
            class="btn float-end col-1 align-self-center"
            (click)="deleteItem()">
      <span class="oi oi-trash" aria-hidden="true" aria-label="Delete"></span>
    </button>
    <div class="container query-list">
      <app-gallery-search-query-entry *ngFor="let sq of AsListQuery.list; index as i"
                                      [(ngModel)]="AsListQuery.list[i]"
                                      (delete)="itemDeleted(i)">
      </app-gallery-search-query-entry>
    </div>
    <div class="col query-list d-flex justify-content-start">
      <button class="btn btn-primary" (click)="addQuery()">
        <span class="oi oi-plus" aria-hidden="true" aria-label="Add"> Add</span>
      </button>
    </div>
  </ng-container>
  <ng-container *ngIf="!IsListQuery">
    <div class="col-md-3">
      <select
        id="searchType"
        name="searchType"
        class="form-select"
        [(ngModel)]="queryEntry.type"
        (ngModelChange)="onChangeType()">
        <option *ngFor="let opt of SearchQueryTypesEnum" [ngValue]="opt.key">{{opt.key | stringifySearchType}}
        </option>
      </select>
    </div>
    <div class="col-11 col-md-8" *ngIf="IsTextQuery">
      <div class="input-group">
      <span title="exact match"
            p18n-title
            class="match-type"
            (click)="toggleMatchType()"
            [class.exact-match]="AsTextQuery.matchType === TextSearchQueryMatchTypes.exact_match">"</span>
        <input
          id="searchField"
          name="searchField"
          placeholder="Search text"
          i18n-placeholder
          class="form-control rounded-2"
          [(ngModel)]="AsTextQuery.text"
          (change)="onChange()"
          (ngModelChange)="onChange()"
          type="text"/>
        <span title="exact match"
              p18n-title
              class="match-type"
              (click)="toggleMatchType()"
              [class.exact-match]="AsTextQuery.matchType === TextSearchQueryMatchTypes.exact_match">"</span>
      </div>
    </div>
    <ng-container [ngSwitch]="queryEntry.type">
      <div *ngSwitchCase="SearchQueryTypes.distance" class="col-11 col-md-8 ">
        <div class="row">
          <div class="col-md-4">
            <div class="input-group">
              <input type="number" class="form-control" placeholder="1"
                     id="distance"
                     min="0"
                     step="0.1"
                     [(ngModel)]="AsDistanceQuery.distance"
                     (ngModelChange)="onChange()"
                     name="distance" required>
              <span class="input-group-text">km</span>
            </div>
          </div>
          <div class="col-md-8">
            <div class="input-group">
              <label class="control-label me-2" for="maxResolution">From</label>
              <input id="from"
                     name="from"
                     title="From"
                     placeholder="New York"
                     i18n-title
                     class="form-control input-md rounded-2"
                     [(ngModel)]="AsDistanceQuery.from.text"
                     (ngModelChange)="onChange()"
                     type="text">
            </div>
          </div>
        </div>
      </div>
      <!-- Range Search Query -->
      <div *ngSwitchCase="SearchQueryTypes.from_date" class="col-11 col-md-8 d-flex">
        <input id="from_date"
               name="from_date"
               title="From date"
               i18n-title
               [ngModel]="AsRangeQuery.value | date:'yyyy-MM-dd'"
               (ngModelChange)="AsRangeQuery.value = $event; onChange() "
               [value]="AsRangeQuery.value | date:'yyyy-MM-dd'" #from_date="ngModel"
               class="form-control input-md rounded-2"
               type="date">
      </div>
      <div *ngSwitchCase="SearchQueryTypes.to_date" class="col-11 col-md-8 d-flex">
        <input id="to_date"
               name="to_date"
               title="To date"
               i18n-title
               [ngModel]="AsRangeQuery.value | date:'yyyy-MM-dd'"
               (ngModelChange)="AsRangeQuery.value = $event; onChange() "
               [value]="AsRangeQuery.value | date:'yyyy-MM-dd'" #to_date="ngModel"
               class="form-control input-md rounded-2"
               type="date">
      </div>
      <div *ngSwitchCase="SearchQueryTypes.min_rating" class="col-11 col-md-8 d-flex">
        <input id="minRating"
               name="minRating"
               title="Minimum Rating"
               placeholder="0"
               i18n-title
               min="0"
               max="5"
               class="form-control input-md rounded-2"
               [(ngModel)]="AsRangeQuery.value"
               (ngModelChange)="onChange()"
               type="number">
      </div>
      <div *ngSwitchCase="SearchQueryTypes.max_rating" class="col-11 col-md-8 d-flex">
        <input id="maxRating"
               name="maxRating"
               title="Maximum Rating"
               placeholder="5"
               i18n-title
               min="0"
               max="5"
               class="form-control input-md rounded-2"
               [(ngModel)]="AsRangeQuery.value"
               (ngModelChange)="onChange()"
               type="number">
      </div>
      <div *ngSwitchCase="SearchQueryTypes.min_resolution" class="col-11 col-md-8">
        <div class="input-group">
          <input id="minResolution"
                 name="minResolution"
                 title="Minimum Rating"
                 placeholder="0"
                 i18n-title
                 min="0"
                 class="form-control input-md"
                 [(ngModel)]="AsRangeQuery.value"
                 (ngModelChange)="onChange()"
                 type="number">
          <span class="input-group-text">Mpx</span>
        </div>
      </div>

      <div *ngSwitchCase="SearchQueryTypes.max_resolution" class="col-11 col-md-8">
        <div class="input-group">
          <input id="maxResolution"
                 name="maxResolution"
                 title="Maximum Rating"
                 placeholder="5"
                 i18n-title
                 [min]="0"
                 class="form-control input-md"
                 [(ngModel)]="AsRangeQuery.value"
                 (ngModelChange)="onChange()"
                 type="number">
          <span class="input-group-text">Mpx</span>
        </div>
      </div>
      <div *ngSwitchCase="SearchQueryTypes.orientation" class="col-11 col-md-8 d-flex">
        <div class="input-group col-md-6">
          <select class="form-select rounded-2"
                  [(ngModel)]="AsOrientationQuery.landscape"
                  (ngModelChange)="onChange()"
                  id="orientation-select"
                  name="orientation-select"
                  title="Orientation"
                  required>
            <option [ngValue]="true" i18n>Landscape</option>
            <option [ngValue]="false" i18n>Portrait</option>
          </select>
        </div>
      </div>
    </ng-container>
    <button [ngClass]="'btn-danger'"
            class="btn float-end col-1 align-self-center"
            (click)="deleteItem()">
      <span class="oi oi-trash" aria-hidden="true" aria-label="Delete"></span>
    </button>
  </ng-container>

</div>
