<form #settingsForm="ngForm">
  <div class="card mb-4"
       [ngClass]="settings.enabled && !_settingsService.isSupported()?'panel-warning':''">
    <h5 class="card-header">
      <ng-container i18n>Share settings</ng-container>
      <div class="switch-wrapper">
        <bSwitch
          class="switch"
          name="enabled"
          [switch-on-color]="'success'"
          [switch-inverse]="true"
          [switch-off-text]="text.Disabled"
          [switch-on-text]="text.Enabled"
          [switch-disabled]="inProgress || (!settings.enabled && !_settingsService.isSupported())"
          [switch-handle-width]="100"
          [switch-label-width]="20"
          [(ngModel)]="settings.enabled">
        </bSwitch>
      </div>
    </h5>
    <div class="card-body">
      <div [hidden]="!error" class="alert alert-danger" role="alert"><strong>Error: </strong>{{error}}</div>

      <ng-container *ngIf="settings.enabled  || _settingsService.isSupported()">
        <div class="form-group row">
          <label class="col-md-2 control-label" for="passwordProtected" i18n>Password protected</label>
          <div class="col-md-10">
            <bSwitch
              id="passwordProtected"
              class="switch"
              name="passwordProtected"
              [switch-on-color]="'primary'"
              [switch-disabled]="!settings.enabled"
              [switch-inverse]="true"
              [switch-off-text]="text.Disabled"
              [switch-on-text]="text.Enabled"
              [switch-handle-width]="100"
              [switch-label-width]="20"
              [(ngModel)]="settings.passwordProtected">
            </bSwitch>
            <small class="form-text text-muted" i18n>Enables password protected sharing links</small>

          </div>
        </div>

      </ng-container>
      <div class="panel-info" *ngIf="(!settings.enabled && !_settingsService.isSupported())" i18n>
        Sharing is not supported with these settings
      </div>
      <button class="btn btn-success float-right"
              [disabled]="!settingsForm.form.valid || !changed || inProgress"
              (click)="save()" i18n>Save
      </button>
      <button class="btn btn-secondary float-right"
              (click)="reset()" i18n>Reset
      </button>
    </div>
  </div>

</form>
