<!DOCTYPE html>
<html lang="en">
<head>
  <base href="<%= Config.Client.urlBase %>/"/>
  <meta charset="UTF-8">
  <title>Loading..</title>
  <link rel="shortcut icon" href="assets/icon.png">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="theme-color" content="#000000" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <link rel="manifest" crossorigin="use-credentials" href="manifest.json">

  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.4/css/bootstrap3/bootstrap-switch.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
        integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
        crossorigin=""/>

  <script>
    var ServerInject = {user:  <%- JSON.stringify(user); %>, ConfigInject: <%- JSON.stringify(Config); %>}
  </script>

</head>

<body style="overflow-y: scroll; padding-right: 0 !important;">
<app-pi-gallery2>
  <div style="position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    left: 50%;
    text-align: center">
    <img src="assets/icon.png" style="max-width: 256px"/>
    <h2>Loading...</h2>
  </div>
</app-pi-gallery2>
</body>
</html>
