
* {
  border-radius: 0 !important;
}

.navbar-right {
  margin-right: 0;
}

.bootstrap-switch-label {
  margin-right: -4px;
  margin-left: -4px;
}

.changed-settings .bootstrap-switch{
  border-color: #007bff;
  border-width: 1px;
}

#toast-container > div {
  opacity:1;
}

bs-dropdown-container {
  z-index: 1;
}



.slim-loading-bar-progress {
  transition: opacity 1s ease-in;
  transition-delay: 1s;
  transition-property: opacity;
}

