<form #settingsForm="ngForm" class="form-horizontal">
  <div class="card mb-4">
    <h5 class="card-header">
      {{Name}}
    </h5>
    <div class="card-body">
      <div [hidden]="!error" class="alert alert-danger" role="alert"><strong>Error: </strong>{{error}}</div>


      <div class="form-group row">
        <label class="col-md-2 control-label" for="Type" i18n>Type</label>
        <div class="col-md-10">
          <select name="Type" id="Type"
                  class="form-control" [(ngModel)]="settings.type" required>
            <option *ngFor="let type of types" [ngValue]="type.key">{{type.value}}
            </option>
          </select>
          <small *ngIf="settings.type == DatabaseType.mysql"
                 class="form-text text-muted" i18n>Install manually mysql node module to use mysql (npm install mysql)
          </small>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-2 control-label" for="dbFolder" i18n>Database folder</label>
        <div class="col-md-10">
          <input type="text" class="form-control" placeholder="db"
                 [(ngModel)]="settings.dbFolder" id="dbFolder" name="dbFolder" required>
          <small class="form-text text-muted" i18n>
            All file-based data will be stored here (sqlite database, user database in case of memory db, job history
            data)
          </small>
        </div>
      </div>

      <ng-container *ngIf="settings.type == DatabaseType.mysql">

        <div class="form-group row">
          <label class="col-md-2 control-label" for="mysql_host" i18n>Host</label>
          <div class="col-md-10">
            <input type="text" class="form-control" placeholder="localhost"
                   [(ngModel)]="settings.mysql.host" id="mysql_host" name="mysql_host" required>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-2 control-label" for="mysql_port" i18n>Port</label>
          <div class="col-md-10">
            <input type="number" class="form-control" placeholder="3306" min="0" max="65535"
                   [(ngModel)]="settings.mysql.port" id="mysql_port" name="mysql_port" required>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-2 control-label" for="mysql_database" i18n>Database</label>
          <div class="col-md-10">
            <input type="text" class="form-control" placeholder="pigallery2"
                   [(ngModel)]="settings.mysql.database" id="mysql_database" name="mysql_database" required>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-2 control-label" for="mysql_username" i18n>Username</label>
          <div class="col-md-10">
            <input type="text" class="form-control" placeholder="username"
                   [(ngModel)]="settings.mysql.username" id="mysql_username" name="mysql_username" required>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-2 control-label" for="mysql_password" i18n>Password</label>
          <div class="col-md-10">
            <input type="password" class="form-control" placeholder="password"
                   [(ngModel)]="settings.mysql.password" id="mysql_password" name="mysql_password" required>
          </div>
        </div>
      </ng-container>


      <button class="btn btn-success float-right"
              [disabled]="!settingsForm.form.valid || !changed || inProgress"
              (click)="save()" i18n>Save
      </button>
      <button class="btn btn-secondary float-right"
              [disabled]=" !changed || inProgress"
              (click)="reset()" i18n>Reset
      </button>
    </div>
  </div>
</form>
