<form #settingsForm="ngForm" class="form-horizontal">
  <div class="card mb-4">
    <h5 class="card-header">
      <span class="oi oi-{{icon}}"></span> {{Name}}
    </h5>
    <div class="card-body">
      <div [hidden]="!error" class="alert alert-danger" role="alert"><strong>Error: </strong>{{error}}</div>

      <app-settings-entry
        name="Type"
        [optionMap]="dbTypesMap"
        [ngModel]="states.type"
        i18n-name
        [required]="true">
        <small *ngIf="states.type.value == DatabaseType.mysql"
               class="form-text text-muted" i18n>Install manually mysql node module to use mysql (npm install mysql)
        </small>
      </app-settings-entry>


      <app-settings-entry
        name="Database folder"
        description="All file-based data will be stored here (sqlite database, user database in case of memory db, job history data)"
        [ngModel]="states.dbFolder"
        i18n-name i18n-description
        [dockerWarning]="(settingsService.Settings | async).Server.Environment.isDocker"
        [required]="true">
      </app-settings-entry>


      <ng-container *ngIf="states.type.value == DatabaseType.mysql">


        <app-settings-entry
          name="Host"
          [ngModel]="states.mysql.host"
          i18n-name
          [required]="true">
        </app-settings-entry>

        <app-settings-entry
          name="Port"
          [ngModel]="states.mysql.port"
          i18n-name
          [required]="true">
        </app-settings-entry>


        <app-settings-entry
          name="Database"
          [ngModel]="states.mysql.database"
          i18n-name
          [required]="true">
        </app-settings-entry>

        <app-settings-entry
          name="Username"
          [ngModel]="states.mysql.username"
          placeholder="username"
          i18n-name
          [required]="true">
        </app-settings-entry>


        <app-settings-entry
          name="Password"
          [ngModel]="states.mysql.password"
          placeholder="password"
          i18n-name
          [required]="true">
        </app-settings-entry>

      </ng-container>


      <button class="btn btn-success float-end"
              [disabled]="!settingsForm.form.valid || !changed || inProgress"
              (click)="save()" i18n>Save
      </button>
      <button class="btn btn-secondary float-end"
              [disabled]=" !changed || inProgress"
              (click)="reset()" i18n>Reset
      </button>
    </div>
  </div>
</form>
