.star {
  margin: 2px;
  color: #888;
  cursor: default;

}

.star.favourite {
  color: white;
}

.star.clickable {
  cursor: pointer;
  transition: all .05s ease-in-out;
  transform: scale(1.0, 1.0);
}

.star.clickable:hover {
  transform: scale(1.4, 1.4);
}


a {
  position: relative;
}

.photo-container {
  border: 2px solid #333;
  width: 180px;
  height: 180px;
  background-color: #bbbbbb;
}

.no-image {
  position: absolute;
  color: #7f7f7f;
  font-size: 80px;
  top: calc(50% - 40px);
  left: calc(50% - 40px);
}

.photo {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.button {
  border: 0;
  padding: 0;
  text-align: left;

}

.info {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: medium;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5px;
  width: 100%;
}

a:hover .info {
  background-color: rgba(0, 0, 0, 0.8);
}

a:hover .photo-container {
  border-color: #000;
}

