<a [routerLink]="['/search', searchQueryDTOstr]"
   style="display: inline-block;">


  <div class="photo-container"
       [style.width.px]="size"
       [style.height.px]="size">

    <div class="photo"
         *ngIf="thumbnail && thumbnail.Available"
         [style.background-image]="getSanitizedThUrl()"></div>

    <span *ngIf="!thumbnail || !thumbnail.Available" class="oi oi-person no-image"
          aria-hidden="true">
    </span>
  </div>


  <!--Info box -->
  <div class="info">
      <span (click)="CanUpdate && toggleFavourite($event)"
            class="star oi oi-star"
            [ngClass]="{'favourite':person.isFavourite, 'clickable':CanUpdate}"></span>
    {{person.name}} ({{person.count}})

  </div>
</a>

