.lightbox {
    position: fixed; /* Stay in place */
    z-index: 1100; /* Sit on top */
    left: 0;
    top: 0;
    width: 0; /* Full width */
    height: 0; /* Full height */
    overflow: hidden;
    display: flex; /* add */
    justify-content: center; /* add to align horizontal */
    align-items: center; /* add to align vertical */
    cursor: pointer;
}
.blackCanvas{
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1099; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: black;
}

.imgContainer img {
    position: absolute;
}
.imgContainer{
    justify-content: center; /* add to align horizontal */
    align-items: center; /* add to align vertical */
}

.navigation-arrow {
    font-size: x-large;
    width: 50%;
    height: 100%;
    position: static;
    display: inline-block;
    padding: 15px;
    color: white;
    opacity: 0.4;
}

.navigation-arrow span {
    top: 50%;
}

.navigation-arrow:hover {
    opacity: 1.0;
}

#navigation-arrow-container {
    width: 100%;
    height: 100%;
    left: 0;
    position: fixed;;
}

#rightArrow {
    float: right;
    text-align: right;
}