<div [hidden]="!visible">

    <div class="blackCanvas">
    </div>

    <div class="lightbox">
        <gallery-lightbox-photo [gridPhoto]="activePhoto ? activePhoto.gridPhoto : null"
                                [style.top.px]="photoDimension.top"
                                [style.left.px]="photoDimension.left"
                                [style.width.px]="photoDimension.width"
                                [style.height.px]="photoDimension.height">
        </gallery-lightbox-photo>
    </div>


    <div id="controllers-container" #controls>
        <div id="controls">
            <a *ngIf="activePhoto" [href]="activePhoto.gridPhoto.getPhotoPath()"
               [download]="activePhoto.gridPhoto.photo.name"><span class="glyphicon glyphicon-download-alt highlight"
                                                                   title="download"></span></a>
            <span class="glyphicon glyphicon-info-sign highlight" title="info"></span>
            <span class="glyphicon glyphicon-fullscreen highlight" title="toggle fullscreen"></span>
            <span class="glyphicon glyphicon-remove highlight" (click)="hide()" title="close"></span>
        </div>

        <div class="navigation-arrow highlight" *ngIf="navigation.hasPrev" id="leftArrow" (click)="prevImage()"><span
                class="glyphicon glyphicon-chevron-left"></span></div>
        <div class="navigation-arrow highlight" *ngIf="navigation.hasNext" id="rightArrow" (click)="nextImage()"><span
                class="glyphicon glyphicon-chevron-right"></span></div>
    </div>
</div>
