.lightboxCss{
    position: fixed; /* Stay in place */
    z-index: 1100; /* Sit on top */
    left: 0;
    top: 0;
    width: 0px; /* Full width */
    height: 0px; /* Full height */
    background-color: #000066;
    overflow:hidden;
}