<div class="imgContainer" #imgContainer>
  <img *ngIf="showThumbnail()"
       [style.width.%]="imageSize.width"
       [style.height.%]="imageSize.height"
       [style.transform]="ImageTransform"
       [src]="thumbnailSrc"/>

  <img *ngIf="gridMedia !== null && gridMedia.isPhoto() && photoSrc"
       [style.width.%]="imageSize.width"
       [style.height.%]="imageSize.height"
       [style.transform]="ImageTransform"
       [src]="photoSrc"
       [alt]="gridMedia.media.name"
       (load)="onImageLoad()"
       (error)="onImageError()"/>

  <video *ngIf="gridMedia !== null && gridMedia.isVideo() && loadMedia"
         [style.width.%]="imageSize.width"
         [style.height.%]="imageSize.height"
         (loadstart)="onImageLoad()"
         autoplay
         (error)="onImageError()"
         (timeupdate)="onVideoProgress()"
         #video>
    <source [src]="gridMedia.getPhotoPath()" type="{{getVideoType()}}">
  </video>

</div>


