.modal {
  z-index: 9999;
}

.full-width {
  width: 100%;
}

.row {
  padding-top: 1px;
  padding-bottom: 1px;
}

ng-icon{
  vertical-align: text-top;
}

a.dropdown-item, button.dropdown-item, div.dropdown-item {
  padding: 0.3rem 1.0rem 0.3rem 0.8rem;
  cursor: pointer;
}

a.dropdown-item ng-icon, button.dropdown-item ng-icon, div.dropdown-item ng-icon {
  margin-right: 0.5rem;
}

a.list-shares-button {
  cursor: pointer;
  color: inherit;
}

a.list-shares-button:hover {
  text-decoration: underline;
}
