<a [routerLink]="RouterLink"
   style="display: inline-block;">


  <div class="photo-container"
       [style.width.px]="size"
       [style.height.px]="size">

    <div class="photo"
         *ngIf="thumbnail && thumbnail.Available"
         [style.background-image]="getSanitizedThUrl()"></div>

    <span *ngIf="!thumbnail || !thumbnail.Available" class="oi oi-folder no-image"
          aria-hidden="true">
    </span>
  </div>


  <!--Info box -->
  <div class="info">
    {{album.name}} ({{album.count}})
    <span *ngIf="CanUpdate && !album.locked"
          (click)="deleteAlbum($event)"
          class="info-button delete oi oi-trash float-end"></span>

    <span *ngIf="album.locked"
          title="Album is locked, cannot be deleted from the webpage."
          i18n-title
          class="info-button oi oi-lock-locked float-end"></span>
  </div>
</a>

