<ng-template #popTemplate>
  <span i18n>Application version</span>: v{{(settingsService.settings | async).Environment.appVersion}}
  <ng-container *ngIf="(settingsService.settings | async).Environment.buildTime">
    <br/>
    <span i18n>Built at</span>: {{(settingsService.settings | async).Environment.buildTime | date:'medium' }}
  </ng-container>
  <ng-container *ngIf="(settingsService.settings | async).Environment.buildCommitHash">
    <br/>
    <span i18n>Git commit</span>: {{(settingsService.settings | async).Environment.buildCommitHash}}
  </ng-container>
</ng-template>
<app-frame>
  <div body class="container-fluid">

    <div class="card mb-4" *ngIf="notificationService.countedNotifications.length>0">
      <h5 class="card-header" i18n>
        Server notifications
      </h5>
      <div class="card-body">
        <ng-container *ngFor="let notification of notificationService.countedNotifications">

          <div class="alert alert-{{getCss(notification.type)}}" role="alert">
            ({{notification.count}}) {{notification.message}}
            <br *ngIf="notification.details"/>
            {{notification.details | json}}
            <ng-container *ngIf="notification.request">
              <br/>
              Request: "{{notification.request.method}}", url: "{{notification.request.url}}", status code:
              "{{notification.request.statusCode}}"
            </ng-container>
          </div>
        </ng-container>
      </div>

      <div class="card-footer" i18n>
        To dismiss these notifications, restart the server.
      </div>
    </div>
    <div class="form-horizontal">
      <div class="d-flex justify-content-between">
        <div>
          <a triggers="mouseenter:mouseleave"
             placement="bottom"
             [popover]="popTemplate"
             class="version"
             href="https://github.com/bpatrik/pigallery2/releases">
            <span
              i18n>App version:</span>&nbsp;<span>{{'v' + ((settingsService.settings | async).Environment.appVersion || '----')}}</span>
          </a>
        </div>
        <div class="mb-1">
          <label class="control-label align-self-end me-2" for="config-priority" i18n>Mode</label>
          <select class="form-select d-inline-block w-auto"
                  aria-label="Configuration priority"
                  [(ngModel)]="settingsService.configPriority"
                  (ngModelChange)="settingsService.configPriorityChanged()"
                  [class.bg-warning]="settingsService.configPriority === ConfigPriority.advanced"
                  [class.bg-danger]="settingsService.configPriority === ConfigPriority.underTheHood"
                  id="config-priority">
            <option class="bg-white"
                    *ngFor="let cp of configPriorities"
                    [ngValue]="cp.key">{{cp.value}}
            </option>
          </select>
        </div>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-md-2 ">
        <nav class="nav flex-column sticky-top">
          <div class="card">
            <div class="card-body text-md-start text-center align-content-md-start align-content-center">
              <h5 i18n="title of left card in settings page that contains settings contents" class="card-title">
                Menu</h5>
              <div class="py-md-1 px-md-0"
                   *ngFor="let s of contents;"
                   [hidden]="!s.HasAvailableSettings">
                  <button class="btn btn-link nav-link text-start p-0"
                          (click)="viewportScroller.scrollToAnchor(s.ConfigPath)"
                          >
                    <span class="oi oi-{{s.icon}}"></span> {{s.Name}}
                  </button>
                  <button class="btn btn-link nav-link text-start ms-3 p-0"
                          *ngFor="let n of s.nestedConfigs;"
                          [hidden]="!n.visible()"
                          (click)="viewportScroller.scrollToAnchor(n.id)">
                    <span class="oi oi-{{n.icon}}"></span>  {{n.name}}
                  </button>
              </div>
            </div>
          </div>

        </nav>
      </div>
      <div class="col-md-10">
        <app-settings-template
          *ngFor="let cp of configPaths"
          #setting
          #tmpl
          [ConfigPath]="cp"
          [enableNesting]="cp=='Media'"
          [hidden]="!tmpl.HasAvailableSettings">
          <ng-container
            *ngIf="cp=='Indexing'">
            <br/>
            <hr class="mt-2"/>
            <app-settings-gallery-statistic></app-settings-gallery-statistic>
          </ng-container>
        </app-settings-template>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-12">
        <div class="text-end">
          <ng-container i18n>Up time</ng-container><!--
            -->: {{(settingsService.settings | async).Environment.upTime | date:'medium'}}
        </div>
      </div>
    </div>

  </div>
</app-frame>
