/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #ccc;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  background-color: #222;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}

.cover-container {
  max-width: 65em;
  background-color: #3a3a3a;
  box-shadow: 0 .5rem 1rem #000;
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }

  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}

.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


.feature {
  margin-top: 30px;
  margin-bottom: 10px;
}

.feature .col {
  margin: auto;
}

.feature .col h3 {
  text-align: left;
}

.feature .col {
  text-align: justify;
}


.feature img {
  width: 100%;
}

.section-header {
  margin-top: 30px;
  text-align: left;
}

ul {
  text-align: left;
}

hr {
  background: white;
  margin-top: 0;
}

.github-button-wrapper {
  margin-top: 10px;
  float: right;
}

.banner-photo {
  margin-bottom: 30px;
}


.row.feature:nth-child(odd) .feature-image{
  order: 2;
}

/*Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) {
  .row.feature .feature-image{
    order: 2;
  }
}
