.navigation-arrow {
  width: 30px;
  min-width: 60px;
  height: 100px;
  position: absolute;
  top: calc(50% - 50px);
  display: inline-block;
  padding: 15px;
  cursor: pointer;
  font-size: xx-large;
  left: 0;
}

.navigation-arrow span {
  top: 20px;
}

#controllers-container {
  z-index: 1100;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 1.0;
  position: fixed;
  color: white;
  transition: width 0.3s ease-in-out, opacity 1s;
  -webkit-transition: width 0.3s ease-in-out, opacity 1s;
  -o-transition: width 0.3s ease-in-out, opacity 1s;
  -ms-transition: width 0.3s ease-in-out, opacity 1s;
  -moz-transition: width 0.3s ease-in-out, opacity 1s;
}

#controllers-container.dim-controls {
  opacity: 0.1;
}

#controllers-container.dim-controls-video {
  opacity: 0;
}

#swipeable-container {
  height: 100%;
}

#rightArrow {
  right: 0;
  left: auto;
  text-align: right;
}

.controls {
  height: initial;
  text-align: right;
  width: 100%;
  padding: 5px;
  font-size: large;
}

.controls .control-button {
  margin-left: 0.2em;
  margin-right: 0.2em;
  display: inline-block;
  padding: 0 0.5rem;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

.controls .button-disabled {
  color: #888;
}

.controls-top {
  top: 0;
}

.controls-caption {
  opacity: 0.5;
  top: 0;
  position: absolute;
  height: initial;
  text-align: left;
  width: 75%;
  padding: 5px 13px;
  font-size: 1.5rem;
}

.controls-playback {
  padding-right: 15px;
  bottom: 0;
  position: absolute;
}

.controls-video {
  padding-right: 15px;
  bottom: 0;
  position: absolute;
}

.controls-video .oi,
.controls-video input {
  color: white;
  cursor: pointer;

}

.controls-big-play span {
  font-size: 20vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.controls-video input[type=range] {
  padding: 0;
  margin-top: 6px;
}

.controls-video .oi {
  text-align: center;
  max-width: 45px;
  margin-left: 10px;
}

.highlight {
  opacity: 0.5;
  transition: opacity .2s ease-out;
  -moz-transition: opacity .2s ease-out;
  -webkit-transition: opacity .2s ease-out;
  -o-transition: opacity .2s ease-out;
  -ms-transition: opacity .2s ease-out;
}

.highlight:hover {
  opacity: 1.0;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0.5;
  }
  25% {
    opacity: 1.0;
  }
  75% {
    opacity: 1.0;
  }
  100% {
    opacity: 0.5;
  }
}

.button-active {
  animation: blink 3s ease-in-out infinite;
}


.controls-zoom {
  bottom: 0;
  position: absolute;
  margin-bottom: 10px;
  margin-right: 0;
  margin-left: 0;
}

.zoom-progress-wrapper {
  margin-top: 3px;
  height: 11px;
  border: 1px solid white;
  padding: 0;
}


input[type="range"].zoom-progress {
  height: 11px;
  margin-top: 3px;
  border: 1px solid white;
  background: transparent;
  padding: 0;
}

input[type="range"].zoom-progress::-webkit-slider-runnable-track {
  background: transparent;
}

input[type="range"].zoom-progress::-moz-range-track {
  background: transparent;
}


.controls-zoom .oi {
  cursor: pointer;
}
