<ng-template [ngIf]="mapPhotos.length>0">
  <app-gallery-map-lightbox [photos]="photos" [gpxFiles]="metaFiles"></app-gallery-map-lightbox>
  <div id="map" #map>
    <agm-map
      [disableDefaultUI]="true"
      [zoomControl]="false"
      [streetViewControl]="false"
      [usePanning]="false"
      [draggable]="false"
      [zoom]="0"
      [fitBounds]="true">
      <agm-marker
        *ngFor="let photo of mapPhotos"
        [latitude]="photo.latitude"
        [longitude]="photo.longitude"
        [agmFitBounds]="true">
      </agm-marker>
    </agm-map>
    <div class="overlay" (click)="click()"
         [style.margin-top.px]="-height"
         [style.height.px]="height">
    </div>
  </div>
</ng-template>
