<gallery-map-lightbox [photos]="photos"></gallery-map-lightbox>
<div id="map" #map>
    <agm-map
        (click)="click()"
        [disableDefaultUI]="true"
        [zoomControl]="false"
        [streetViewControl]="false"
        [usePanning]="false"
        [draggable]="false"
        [zoom]="0"
        [latitude]="mapCenter.latitude"
        [longitude]="mapCenter.longitude">
        <agm-marker
            *ngFor="let photo of mapPhotos"
            [latitude]="photo.latitude"
            [longitude]="photo.longitude">
        </agm-marker>
    </agm-map>
</div>